.wrapper {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}

.wrapper img {
	border-radius: 7.5em;
	width: 15em;
}

.presentation h3 {
	text-align: center;
}

.presentation {
	margin: 0 auto;
	max-width: 500px;
	text-align: left;
}

.contact {
	text-align: center;
	border: 1.5px black solid;
	padding: 15px;
	border-radius: 5px;
	margin: 1.3em 0;
	background-color: #ffffff;
}

.contact h3 {
	margin: 0 0 10px 0;
}

.contact h5 {
	margin: 0px 0 10px 0;
}

.actualEmail {
	font-size: 1em;
	font-family: JetBrains;
}

.emailBlock {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0.3em;
}

@media screen and (max-width: 900px) {
	.emailBlock {
		flex-direction: column;
	}
}

.presentation p {
	padding: 0 1.5em;
}
