.container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	padding-top: 120px;
}

.pageHeight {
	min-height: 100vh;
}

.sm {
	max-width: 750px;
}

.md {
	max-width: 1000px;
}

.lg {
	max-width: 1250px;
}

/*
** This rule will only be applied on extra large screens.
** The idea of implementing such a class came from some testing on a 4k
** iMac screen.
*/

@media screen and (min-width: 1920px) {
	.enableXXL {
		max-width: 1500px;
	}
}
